<style>
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

body {
  background-image:url('/Company/images/bgimage.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  background-color: black;
  color: white;
  text-align:center;
  padding: 10px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 10px;
  margin-bottom: 10px;
  background-color: black;
  color: black;
  
}
.header, .menu li, .footer {
  position:relative;
  animation-name: color;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes color {
  0%   {background-color:black;}
  25%  {background-color:grey;}
  50%  {background-color:lightgrey;}
  75%  {background-color:grey;}
  100% {background-color:black;}
}
.menu li a {
  text-decoration: none;
  color: white;
}

.menu li:hover {
  background-color: lightgrey;
}
.responsive {
  max-width: 100%;
  height: auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.footer {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 10px;
}
.social-links {
    list-style: none;
}

.social-links li {
    display: inline-block;
    margin-right: 10px;
    transition: width 2s, height 2s;
}

.social-links li:hover {
    display: inline-block;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}
 
#arrow{
  display:flex;
  float:right;
}
/ * For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
</style>
